*{
    margin: 0;
    padding: 0;
}


body{
    font-size:18px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#70d6ff,#e9ff70);
    gap: 20px;
}


.counter{
    width: 400px;
    height: 400px;
    background:white;
    border-radius: 10px;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    animation-name: popup;
    animation-duration: 0.8s;
}

.counter__top{
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'open sans';
}

.counter__heading{
    font-size: 800%;
    font-weight: 600;
}

.counter__bottom{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.counter__button{
    width: 150px;
    height: 50px;
    font-size: 180%;
    border: none;
    color: white;
    border-radius: 10px;
}

.counter__button:focus{
    outline: 2px solid black;
}

.counter__button:hover{
    cursor: pointer;
}

.counter__button--red{
    background: red;
}

.counter__button--red:hover{
    background: hsl(0, 59%, 37%);
}

.counter__button--green{
    background: green;
}

.counter__button--green:hover{
    background: hsl(174, 65%, 27%);
}

@keyframes popup {
    from{
        opacity: 0;
        transform: translateY(10px);
    }
    to{
        opacity:1;
        transform: translateY(-10px);
    }
}

@media screen and (max-width:1000px){
    body{
        flex-direction: column-reverse;
        padding: 40px;
    }
    .counter{
        height: 600px;
        width: 100%;
    }

    .counter__bottom{
        flex-direction: column-reverse;
        padding: 20px;
    }
    .counter__button{
        width: 100%;
    }
}